@{
    Layout = null;
 }

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>ERROR!</title>
</head>
<body>
    <h2 class="text-warning text-center">Error!</h2>
    <h3 class="text-warning text-center">An error occurred while processing your request.</h3>
</body>
</html>